node_modules/
dist/
.turbo/
.next/
apps/*/node_modules/
packages/*/node_modules/
.env
apps/backend/.env
apps/frontend/.env.local
apps/backend/uploads/
apps/backend/private/
/.DS_Store
npm-debug.log*
*.log
*.out.log
*.err.log
package-lock.json
yarn.lock
